body{
   background-color: #23252C ;
}


div#digital-card {
    text-align: center;
    border: 0px;
    border-radius: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

p{
    padding: 15px 15px;
    color: rgb(245,245,245);
    margin: 0px 0px;
    
}

a{
    text-decoration: none;
}

div#social{
    padding: 10px 10px;
    background-color: rgb(22,22,25);
    border-radius: 0px 0px 20px 20px;
}

h1{
    padding-bottom: 4px;
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(212, 212, 212);
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-align: left;
    padding: 15px 15px;
    margin: 0px 5px;
    color: rgb(212, 212, 212);
}

h4{
    margin: 0px 0px;
    padding: 5px 0px;
    color: rgb(210, 172, 143);
}

h5 a{
    color: rgb(217, 204, 204);
}

#profile-img{
    border-radius: 18px 18px 0px 0px;
}

h5{
    margin: 0px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

button{
    width: 40%;
    margin: 0px 10px;
    padding: 5px 2px;
    border-radius: 10px;
    border: 0px solid;
}

button#email{
    background-color: #fff;
}

button#linkedin{
    background-color: rgb(96, 145, 220);
}

#name-role,
#cta-button,
#about,
#interest{
    background-color: rgb(26, 27, 32);
}

#social a{
    margin: 5px 10px ;
}